<div class="login-register-container">
  <div class="login-register-content">
    <!-- Left Image -->
    <div class="login-register-img">
      <img src="assets/images/image-login.png" alt="Login/Register Image" />
    </div>

    <!-- Right Forms -->
    <div class="login-register-forms">
      <!-- Login Form -->
      <form (ngSubmit)="onSubmitLogin(loginForm)" #loginForm="ngForm" class="login-register-form" id="login-form">
        <h1 class="login-register-title">{{ 'login.loginTitle' | translate }}</h1>

        <div class="login-register-box">
          <i class='bx bx-user login-register-icon'></i>
          <input matInput type="text" placeholder="{{ 'login.username' | translate }}" name="username" ngModel required />
        </div>

        <div class="login-register-box">
          <i class='bx bx-lock-alt login-register-icon'></i>
          <input matInput type="password" placeholder="{{ 'login.password' | translate }}" name="password" ngModel required />
        </div>

        <a href="#" class="login-register-forgot">{{ 'login.forgotPassword' | translate }}</a>

        <button mat-raised-button color="primary" type="submit">{{ 'login.login' | translate }}</button>

        <div>
          <span class="login-register-account">{{ 'login.noAccount' | translate }}</span>
          <span class="login-register-signup" (click)="toggleForm()">{{ 'login.registerHere' | translate }}</span>
        </div>
      </form>

      <!-- Register Form -->
      <form (ngSubmit)="onSubmitRegister(registerForm)" #registerForm="ngForm" class="login-register-form none" id="register-form">
        <h1 class="login-register-title">{{ 'register.registerTitle' | translate }}</h1>

        <div class="login-register-box">
          <i class='bx bx-user login-register-icon'></i>
          <input matInput type="text" placeholder="{{ 'register.username' | translate }}" name="username" ngModel required />
        </div>

        <div class="login-register-box">
          <i class='bx bx-at login-register-icon'></i>
          <input matInput type="email" placeholder="{{ 'register.email' | translate }}" name="email" ngModel required />
        </div>

        <div class="login-register-box">
          <i class='bx bx-lock-alt login-register-icon'></i>
          <input matInput type="password" placeholder="{{ 'register.password' | translate }}" name="password" ngModel required />
        </div>

        <button mat-raised-button color="primary" type="submit">{{ 'register.register' | translate }}</button>

        <div>
          <span class="login-register-account">{{ 'register.haveAccount' | translate }}</span>
          <span class="login-register-signin" (click)="toggleForm()">{{ 'register.loginHere' | translate }}</span>
        </div>
      </form>
    </div>
  </div>
</div>
