<div class="family-container">

  <div class="family-content">
    <!-- Header Section -->
    <div class="family-header">
      <h1>{{'family.h1' | translate}}</h1>
      <p>{{'family.description' | translate}}</p>
      <button mat-raised-button color="primary" routerLink="/register">{{'family.startNow' | translate}}</button>
    </div>

    <!-- Why Choose CareMe Section -->
    <div class="why-choose-careme">
      <h2>{{'family.whyChooseCareMeTitle' | translate}}</h2>
      <div class="benefits">
        <div class="benefit">
          <mat-icon>verified</mat-icon>
          <h3>{{'family.benefit1Title' | translate}}</h3>
          <p>{{'family.benefit1' | translate}}</p>
        </div>
        <div class="benefit">
          <mat-icon>person_add</mat-icon>
          <h3>{{'family.benefit2Title' | translate}}</h3>
          <p>{{'family.benefit2' | translate}}</p>
        </div>
        <div class="benefit">
          <mat-icon>security</mat-icon>
          <h3>{{'family.benefit3Title' | translate}}</h3>
          <p>{{'family.benefit3' | translate}}</p>
        </div>
      </div>
    </div>

    <!-- Security Section -->
    <div class="security-section">
      <h2>{{'family.securityTitle' | translate}}</h2>
      <div class="security-features">
        <div class="feature">
          <mat-icon>emergency</mat-icon>
          <h3>{{'family.securityFeature1Title' | translate}}</h3>
          <p>{{'family.securityFeature1' | translate}}</p>
        </div>
        <div class="feature">
          <mat-icon>location_on</mat-icon>
          <h3>{{'family.securityFeature2Title' | translate}}</h3>
          <p>{{'family.securityFeature2' | translate}}</p>
        </div>
        <div class="feature">
          <mat-icon>headset_mic</mat-icon>
          <h3>{{'family.securityFeature3Title' | translate}}</h3>
          <p>{{'family.securityFeature3' | translate}}</p>
        </div>
      </div>
    </div>

    <!-- Testimonials Section -->
    <div class="testimonials">
      <h2>{{'family.testimonialsTitle' | translate}}</h2>
      <div class="testimonial-card">
        <img src="assets/images/testimonial1.jpg" alt="Testimonial Image" />
        <h4>{{'family.testimonial1Name' | translate}}</h4>
        <p>{{'family.testimonial1Description' | translate}}</p>
      </div>
      <div class="testimonial-card">
        <img src="assets/images/testimonial2.jpg" alt="Testimonial Image" />
        <h4>{{'family.testimonial2Name' | translate}}</h4>
        <p>{{'family.testimonial2Description' | translate}}</p>
      </div>
    </div>
  </div>
</div>
