<div class="home-container">

  <div class="home-content">
    <div class="home-header">
      <h1>{{'home.h1' | translate}}</h1>
      <p>
        {{'home.description' | translate}}
      </p>
      <button mat-raised-button color="primary" routerLink="/register">{{'home.startNow' | translate}}</button>
      <p><a routerLink="/caregivers" class="link">{{ 'home.areYouACaregiver' | translate }}</a></p>
    </div>

    <div class="home-image">
      <img src="assets/images/home-banner.png" alt="CareMe service Image" />
    </div>
  </div>

</div>
