<p>caregivers works!</p>
<div class="caregivers-container">

  <div class="caregivers-content">
    <div class="caregivers-header">
      <h1>{{'caregivers.h1' | translate}}</h1>
      <p>
        {{'caregivers.description' | translate}}
      </p>
      <button mat-raised-button color="primary" routerLink="/register">{{'caregivers.startNow' | translate}}</button>
    </div>

    <div class="caregivers-image">
      <img src="assets/images/cuidadores1.jpg" alt="Caregiver image 1" />
    </div>
  </div>

</div>
