<div class="caregivers-container">
  <div class="caregivers-content">

    <div class="caregivers-header">
      <h1>{{ 'caregivers.h1' | translate }}</h1>
      <p>{{ 'caregivers.description' | translate }}</p>
      <button mat-raised-button color="primary" routerLink="/register" class="cta-button">{{ 'caregivers.startNow' | translate }}</button>
    </div>


    <div class="caregivers-image">
      <img src="assets/images/cuidador.png" alt="Caregiver image" />
    </div>
  </div>


  <div class="caregivers-benefits">
    <h2>{{ 'caregivers.benefitsTitle' | translate }}</h2>
    <ul>
      <li>{{ 'caregivers.benefit1' | translate }}</li>
      <li>{{ 'caregivers.benefit2' | translate }}</li>
      <li>{{ 'caregivers.benefit3' | translate }}</li>
    </ul>
  </div>


  <div class="testimonials">
    <h2>{{'caregivers.testimonialsTitle' | translate}}</h2>
    <div class="testimonial-cards-container"> <!-- Nuevo contenedor -->
      <div class="testimonial-card">
        <img src="assets/images/cuidador-resenia.avif" alt="Testimonial Image" />
        <h4>{{'caregivers.testimonial1Name' | translate}}</h4>
        <p>{{'caregivers.testimonial1Description' | translate}}</p>
      </div>
      <div class="testimonial-card">
        <img src="assets/images/cuidador-resenia2.jpg" alt="Testimonial Image" />
        <h4>{{'caregivers.testimonial2Name' | translate}}</h4>
        <p>{{'caregivers.testimonial2Description' | translate}}</p>
      </div>
    </div>
  </div>
