<div class="support-container">
  <div class="support-content">
    <div class="support-header">
      <h1>{{ 'support.h1' | translate }}</h1>
      <p>{{ 'support.description' | translate }}</p>
    </div>

    <div class="support-info">
      <div class="support-text">
        <h2>{{ 'support.faqTitle' | translate }}</h2>
        <div class="faq-list">
          <div *ngFor="let faq of faqs" class="faq-item">
            <h3>{{ faq.question }}</h3>
            <p>{{ faq.answer }}</p>
          </div>
        </div>
        <h2>{{ 'support.tipsTitle' | translate }}</h2>
        <p>{{ 'support.tips' | translate }}</p>

        <button mat-raised-button color="primary" routerLink="/contact-component">{{ 'support.contactUs' | translate }}</button>
      </div>

      <div class="support-image">
        <img src="assets/images/careme.jpg" alt="Support Image" />
      </div>
    </div>
  </div>
</div>
